.quiz {
    margin: 16px;
    min-height: 240px;
}

.answer-grid-cell {
    padding: 0.5rem;
}

.custom-title {
    text-align: center;
    padding: 1rem;
    font-weight: bold;
    font-size: x-large;
}

.recap-message {
    padding: 1rem;
    text-align: center;
}

.answer-card {
    padding: 0.6rem;
    background: aliceblue;
    border: 1px solid #84c5fe;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(100% - 1rem);
    min-height: 40px;
    outline: none;
}

.answer-card:focus {
    color: red;
}

@media only screen and (max-width: 600px) {
    .answer-card {
        font-size: 10px;
    }
}

.answer-card::after {
    content: "";
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
    opacity: 0;
    border-radius: 8px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 250ms;
}

.right-answer {
    color: #155724 !important;
    background: #d4edda !important;
    border: 1px solid #c3e6cb !important;
}

.right-answer>.icon {
    color: #058623;
}

.wrong-answer {
    color: #721c24 !important;
    background: #f8d7da !important;
    border: 1px solid #f5c6cb !important;
}

.wrong-answer>.icon {
    color: #910412;
}

@media only screen and (max-width: 1200px) {
    .answer-card {
        -webkit-tap-highlight-color: transparent;
    }
}

@media only screen and (min-width: 1200px) {
    .answer-card:hover {
        transform: scale(1.01);
        color: #004085;
        background: #cce5ff;
        border: 1px solid #b8daff;
    }
    .answer-card:hover::after {
        opacity: 1;
    }
}

.answer-card:hover::after {
    opacity: 1;
}

.restart-card {
    width: 10rem;
    margin: 2rem auto auto;
    justify-content: center;
}

.icon {
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    pointer-events: none;
    transition: all 0.3s ease;
    line-height: 24px;
    color: transparent;
}